.title{
	font-size: 40px;
	text-align: center;
	height: 10%;
	width: 100%;
	color: white;
	background-color: black;
	padding-bottom: 2px;
    border-bottom: 1px solid black;
}
.settingsFrame{
	padding: 5px;
	font-size: 20px;
	height: 84%;
	width: 100%;
	background-color: white;
	float: left;
}
.settings{
	font-size: 20px;
	background-color: white;
	float: center;
}
.save_button{
	width: 100%;
	text-align: center;
	font-size: 20px;
}
.footer{
	height: 6%;
	width: 100%;
	background-color: gray;
	float: left;
	padding: 3px;
}
body {
  background-color: #FFFFFF;
}